
.all{
    position:absolute;
    padding-top:10%;
    top: 0%;
    left: 20%;
    display: grid;
    gap: 60px;
}
.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.name{
    width:600px;
    animation: border 2.2s forwards;
}


.name h1{
    margin: 0;
    font-size:2.5rem;
}

.name h2{
    font-weight:100;
    font-size:2rem;
    letter-spacing:3px;
}


.btn{
    font-family: "JetBrains Mono", monospace;
    background-color: black;
    color: #FAF6F0;
    width:170px;
    height:40px;
    font-size:1.5rem;
    font-weight: 100;
    border: none;
    border-radius:10px;
    cursor: pointer;
}

.detail{
    padding: 5%;
    opacity: 0;
    animation: detail 1.5s forwards;
}

.imgs{
    cursor: pointer;
    gap: 5%;
    display: flex;
    flex-wrap: wrap;
}


  .heading{
      font-weight: lighter;
      font-size: 2rem;
      position: relative;
      left:-10%;
      text-align: center;
      color:#44567c;

      
    }


    .heading:before{
        content:" ";
        display: block;
        height:1px;
        background: rgb(41, 41, 41);
        position: absolute;
        top:50%;
        left:10%;
      }
    .heading:after{
        content:" ";
        height:1px;
        background: rgb(66, 66, 66);
        display: block;
        position: absolute;
        top:50%;
        right:10%;
      }
.heading:after,
::before{
    animation: tech  2s  alternate forwards;
}
  @keyframes tech{
    from{
        width: 0;
    }to{
        width: 350px;
    }
  }

  @keyframes detail {

    from{
        transform: translatey(60px);
        opacity: 0;
    }to{
        transform: translatex(0px);
        opacity:1;
    }
    
  }



  .techimages img{
    width: 30px;
    height:30px;
}

.techimages{
    max-width:85%;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    animation: tm 2s 1.5s forwards;
}
@keyframes tm {

    from{
        height: 0;
    background-color: #FAF6F0;

    }
    to{
        height:200px;
    background-color: #FAF6F0;
        
    }
}
.logos{
    margin: 1.6%;
    padding:2%;
    font-weight: bolder;
    text-align: center;
    display: flex;
    gap:3px;
    align-items: center;
    border-radius:15px;
    background-color: #ffe2e2;
    cursor: pointer;
}

  @keyframes border {

    from{
        border-right:0.001px solid black ;
        border: none;
    }
    to{
        border-right:2px solid black ;
    }
    
  }



  @media screen and (max-width:750px){
    .logos{
        background-color: #f9eaea;
    }
    .techimages img{
        width: 25px;
        height:25px;
    }
    .techimages{
       border-radius:20px;
        max-width:95%;
    }
    .btn{
        width: 140px;
    }
    .name h1{
        margin: 0;
        font-size:3rem;
    }
    .name span{
        font-size:18px;
        font-weight:normal;
        display: block;
    }
    
    .name h2{
        font-size:11px;
        font-weight:900;
        letter-spacing:3px;
    }
    .name{
        width:85%;
    }
    .all{
        padding-top:20%;
        top:0%;
        gap: 0;
        left:5%;
    }
    .info{
        font-weight: lighter;
        display:block;
        width: 100%;
        z-index: 4;
    }
    .imgs{
        cursor: pointer;

    }
    .heading{
        font-size: 1.5rem;
    }
    .heading::after{
        right:-7%;
        animation: tech2  2s  alternate forwards;

    }
    @keyframes tech2{
        from{
            width: 0;
        }to{
            width:115px;
        }
      }
    @keyframes border {

        from{
            border-bottom:0.001px solid black ;
            border: none;
        }
        to{
            border-bottom:2px solid black ;
        }
        
      }
   
      @keyframes tech{
        from{
            width: 0;
        }to{
            width:30px;
        }
      }
      @keyframes detail {

        from{
            transform: translatey(-60px);
            opacity: 0;
        }to{
            transform: translatex(0px);
            opacity:1;
        }
        
      }
      @keyframes tm {

        from{
            height: 0;
        background-color: #FAF6F0;
    
        }
        to{
            height:240px;
        background-color: #FAF6F0;
            
        }
    }
  }