.container{
    /* margin: 0 10%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top:7%;

}
.p{
    position: relative;
    font-size:1.7rem;
    margin-right: 0;
}
.p:after{
    content: "";
    height: 5px;
    background-color: rgb(255, 124, 124);
    display: block;
    position: absolute;
    top:50%;
    left:0%;
    border-radius: 50%;
}
.p:before{
    content: "";
    height: 5px;
    background-color:rgb(255, 124, 124);
    display: block;
    position: absolute;
    top:50%;
    right:0%;
    border-radius: 50%;
}

.p:after,
:before{
    animation: teh  2s linear forwards;
}
  @keyframes teh{
    from{
        width: 0;
    }to{
    }
  }

.allcards{
    padding:5%;
    /* border: 1px solid rgb(70, 70, 70); */
    border-radius:20px;
    display: flex;
    overflow: hidden;
    gap:25px;
    align-items: center; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    width: 300px;
    background-color:  #ffffff;
    border: 9px solid white;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(14, 14, 14);
    border-radius: 15px;

}


.card:hover{
    box-shadow: 2px 4px 25px gray;
}

.cardpic{
    border: 1.1px solid black;
    border-radius: 15px;
    height:240px;
}
.cardpic img{
    /* display:none; */
    border-radius: 15px;
    max-width: 100%;
    min-height: 100%;
    object-fit:cover;
}
.cont{
    position:relative;
    bottom:100%;
    opacity: 0;

}

/* .card:hover{
    background-color:  #1a1a1a;
    border: 9px solid  #1a1a1a;
    color:  #ffffff;
    .cont{
        transition: 1s;
        opacity: 1;
    }
    .cardpic img{
        opacity: 0.1;
        transition: 1s;
    }
} */

.desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more{

    width: 80px;
    height: 30px;
    font-size: 1rem;
    border-radius:15px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
}
.more:hover{
    border: 3px solid rgb(255, 0, 0);
    transition:1s;
    background-color: white;
    color: black;
}

@media screen and (max-width:750px) {
        .allcards{
            padding:5%;
            flex-wrap: nowrap;
            overflow: scroll;
            overflow-y:hidden;
        }
        .container{
            flex-wrap: nowrap;
        }
        .card{
            display: block;
            width:90%;
        }
}
