

.box{
    position:absolute;
    right:47%; 
    bottom:4%;
    width: 30px;
    height:30px;
    transform: translateY(0px);
    transition: 0.5s;
    margin-top: 0;
    animation: jump 0.5s 0.1s  alternate-reverse infinite;
    border: 2px solid black;
    border-radius: 100%;
    cursor: pointer;
}

.box:after {
    transform: translateX(9px) translateY(6px) rotate(-45deg);
     display: block; 
    width:10px !important;
    height: 10px;
    content: "";
    border: 2px solid black;
    border-width: 0px 0 2px 2px;
}

@keyframes jump {
    from{
        transform: translateY(0px);
  
    }    
    to{
        transform: translateY(10px);
    }
}