#about{
    gap: 10px;
    display:grid;
    grid-template-columns: 1fr .2fr ;

}

.abt{
    margin: 0 auto;
    max-width:69%;
    padding-top:7% ;
}


.content{
    font-size: 1.1rem;
    padding:7%;
    padding-right: 0;
    border: 1px solid black;
    border-radius: 30px;
    line-height: 2rem;
}
.pic{
    width:278px;
    height:343px;
    box-shadow: 5px 3px 23px;
    border-radius: 22px;
}
.dp{
    display: ruby;
}


@media screen and (max-width:750px) {
    body{
        padding: 0.5px;
        margin: 0.5px;
    }
    .content{
        line-height: 1.7rem;
    }
    #about{
        gap: 10px;
        display: flex;
        flex-direction: column-reverse;
    }
    .abt{
        max-width: 100%;
    }
    .pic{
        width:50%;
        height:50%;
    }
    .dp{
        display: ruby;
    }
}