
.all{
    padding-top:7%;
    display: grid;
    gap: 60px;;
}
.info{
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.name{
    margin: 0 auto;
    padding: 5%;
    animation: border 100ms 0.3s forwards;
}


.name h1{
    margin: 0;
    font-size:2.5rem;
}

.name h2{
    font-weight:100;
    font-size: 1.3rem;

}


.btn{
    font-family: "JetBrains Mono", monospace;
    background-color: black;
    color: #FAF6F0;
    width:170px;
    height:40px;
    font-size:1.5rem;
    font-weight: 100;
    border: none;
    border-radius:10px;
    cursor: pointer;
}

.detail{
    margin: 0 auto;
    padding-top:10%;
    animation: detail 1s ease-in forwards;
}

.imgs{
    cursor: pointer;
    gap:5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


  .heading{
      font-size: 2rem;
      color:#44567c;
    }

    .heading:before{
        content:"";
        display: block;
        height:1px;
        background: rgb(41, 41, 41);
        position: absolute;
        left: 25%;
        top: 50%;
      }
    .heading:after{
        content:"";
        height:1px;
        background: rgb(66, 66, 66);
        display: block;
        position:absolute;
        right: 25%;
        top: 50%; 
      }
.heading:before{
    animation: tech  2s  linear forwards;
}
.heading:after{
    animation: tech  2s  linear forwards;
}
  @keyframes tech{
    from{
        width: 0;
    }to{
        /* width:15vw; */
    }
  }

  @keyframes detail {

    from{
        transform: translatex(-50px);
        opacity: 0;
    }to{
        z-index: -1;
        transform: translatex(40px);
        opacity:1;
    }
    
  }
  .techimages img{
    width:25px;
    height:25px;
}

.techimages{
    margin: 0 auto;
    max-width:900px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    animation: tm 2s 1.5s forwards;
    min-height:0%;

}
@keyframes tm {
    from{
    height: 0;
    background-color: #FAF6F0;

    }
    to{
    height:60%;
    background-color: #FAF6F0;
        
    }
}
.logos{
    margin: 1.6%;
    padding:2%;
    font-weight: bolder;
    text-align: center;
    display: flex;
    gap:3px;
    align-items: center;
    border-radius:15px;
    background-color: #ffe2e2;
    cursor: pointer;
}

  @keyframes border {

    from{
       
        border: none;
    }
    to{
        z-index: 1;
        border-right:1px solid black ;
    }
    
  }

  @media screen and (max-width:750px){
    .imgs{
        flex-wrap: nowrap;
    }
    .all{
        gap:30px;
    }
    .info{
       
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .name{
        padding: 2%;
    }
    .name h2{
        font-size:1rem;
    }
    @keyframes border {

        from{
            border-bottom:0.000px solid black ;
            border: none;
        }
        to{
            border-bottom:1px solid black ;
        }
        
      }
      @keyframes detail {

        from{
            transform: translatey(-60px);
            opacity: 0;
        }to{
            transform: translatex(0px);
            opacity:1;
        }
        
      }
  }
  @media screen and (max-width:400px) {
    .info{
         margin-left:5%;
    }
    
  }

/* 
    .logos{
        background-color: #f9eaea;
    }
    .techimages img{
        width: 25px;
        height:25px;
    }
    .techimages{
       border-radius:20px;
        max-width:95%;
    }
    .btn{
        width: 140px;
    }
    .name h1{
        margin: 0;
        font-size:3rem;
    }
    .name span{
        font-size:18px;
        font-weight:normal;
        display: block;
    }
    
    .name h2{
        font-size:11px;
        font-weight:900;
        letter-spacing:3px;
    }
    .name{
        width:85%;
    }
    .all{
    }
    .info{
        font-weight: lighter;
        display:block;
        width: 100%;
        z-index: 4;
    }
    .imgs{
        cursor: pointer;

    }
    .heading{
        font-size: 1.3rem;
        font-weight:500;
        color: #000;
    }
    .heading::after{
        right:-7%;
        animation: tech2  2s  alternate forwards;

    }
    @keyframes tech2{
        from{
            width: 0;
        }to{
            width:105px;
        }
      }
    
   
      @keyframes tech{
        from{
            width: 0;
        }to{
            width:30px;
        }
      }
      @keyframes detail {

        from{
            transform: translatey(-60px);
            opacity: 0;
        }to{
            transform: translatex(0px);
            opacity:1;
        }
        
      }
      @keyframes tm {

        from{
            height: 0;
        background-color: #FAF6F0;
    
        }
        to{
            height:240px;
        background-color: #FAF6F0;
            
        }
    }
  } */