
.abt{
    position:absolute;
    top:90%;
    left:13%;
    max-width:79%;
    padding-top:5% ;
}

#about{
    gap: 10px;
    display:grid;
    grid-template-columns: 1fr 330px;
}
.content{
    font-size: 1.1rem;
    padding:7%;
    padding-right: 0;
    border: 1px solid black;
    border-radius: 30px;
}
.pic{
    width:278px;
    height:343px;
    box-shadow: 5px 3px 23px;
    border-radius: 22px;
}


@media screen and (max-width:750px) {

    #about{
        gap: 10px;
        display: flex;
        flex-direction: column-reverse;
    }
    .abt{
    position: absolute;
    top:100%;
    right:10%;
    padding-top:17%;
    }
    .pic{
        max-width:100%;
        border-radius: 96px;
    }
}