     /* *{
        animation: ev 1s forwards;
     }
     @keyframes ev {
        from{
            opacity: 0;
        }        
        to{
            opacity: 1;
        }
     } */
 body{
    padding-left:17%;
    padding-top:2%;
    margin: 0;
    background-color: #fae9d7;
  }
.navBar{
    display: flex;
    padding: 12px;
    width:85%;
    justify-content: space-between;
    border-radius:80px;
    height:40px;
    background-color:#fbf9f7;
    animation: nav 1s forwards;
}

@keyframes nav {
    from{
        transform: translateY(-40px);
    }
    from{
        transform: translateY(0px);
    }
}


.title h2{
    font-size:2.5rem;
    margin:0px;
    font-weight: 100;
    vertical-align: middle;
    letter-spacing:3px;
    font-family: "JetBrains Mono", monospace;
}
.lists{
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-around;
}

.lists li {
    cursor: pointer;
    list-style: none;
    display: inline;
}

.lists li:hover{
    border-bottom:2px solid black ;
}
.ham{
    font-weight: lighter;
    display: none;
}
@media screen and (max-width:750px){

    .navBar::before{
        content:"";
        display: none;
        height:0.7px;
        width:35px;
        background: rgb(41, 41, 41);
        position: absolute;
        top:44%;
        left:55%;
      }

    body{
        background-color: #f9eaea;
    }
    .ham {
        display: inline;
    }
    
    .navBar {
        display: flex;
        width:95%;
        padding: 1%;
    }
    
    .title h2 {
        font-size: 1.2rem;
        margin: 10px;
    }
    
    .lists {
        display: none;
        width: 100px;
        height: 200px;
        font-size: 1rem;
        flex-direction: column;
        align-items: center;
        transform: translateY(-16px);
        justify-content: space-evenly;
    }
    
    body {
        padding-left: 5%;
    }
    
    .lists li {
        height: 30px;
        width: 100%;
        text-align:center;
        background-color: rgb(221, 148, 255);
        border-radius:10px;
        color:white;
    }
    .li1{
        animation: li 1s forwards;

    }
    .li2{
        animation: li 1.4s forwards;

    }
    .li3{
        animation: li 2s forwards;


    }
    .li4{
        animation: li 2.4s forwards;
    }
    .li5:hover .lists{
        display: none;
    }
    
    @keyframes li {

        from{
            
            transform: translatex(100px);
        }
        
    }
    /* .hide{
        opacity:0;
    } */

    .navBar:hover .lists{
        display: flex;
    }
    .navBar:hover{
        border-radius: 10px;
        position: absolute;
        width:90%;
        height:200px;
        z-index: 10;
        transition: 2s;
    }
    .navBar:hover .ham{
        display:none;
    }
}
