
 body{
    margin: 0;
    padding: 0;
    padding-top:90px; 
    background-color: #fae9d7;
}
.navBar{
    position: fixed;
    top: 1%;
    left: 20%;
    right: 20%;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    padding:0.5% 1%;
    background-color:#fbf9f7;
    border-radius:50px;

}

@keyframes nav {
    from{
        transform: translateY(-40px);
    }
    from{
        transform: translateY(0px);
    }
}


.title p{
    margin: 0 auto;
    font-size:1.4rem;
    vertical-align: middle;
    font-weight: 100;
    font-family: "JetBrains Mono", monospace;
}
.lists{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    align-items: center;
    justify-content: space-evenly;
    animation: nav 1s forwards;
}

.lists li {
    cursor: pointer;
    list-style: none;
}
.lists a{
    text-decoration: none;
}

.lists li:hover{
    border-bottom:2px solid black ;
}
.ham{
    font-weight: lighter;
    display: none;
}
@media screen and (max-width:760px){
    body{
    background-color: #fae9d7 !important;

    }
    .navBar{
        padding: 3px;
        top: 4px;
        left: 2%;
    }

    .ham {
        display: inline;
    }
    .lists {
        display: none;
        font-size: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    body {
        padding-left: 2%;
    }
    
    .lists li {
        width: 100px;
        padding:3%;
        text-align:center;
        background-color: rgb(221, 148, 255);
        border-radius:10px;
        color:white;
    }
     .li1{
        animation: li 1s forwards;

    }
    .li2{
        animation: li 1.4s forwards;

    }
    .li3{
        animation: li 2s forwards;


    }
    .li4{
        animation: li 2.4s forwards;
    }
    .li5:hover .lists{
        display: none;
    } 
    
    @keyframes li {
        from{
            
            transform: translatex(100px);
        }
        
    }

    .navBar:hover .lists{
        display:grid;
    }
    .navBar:hover{
        flex-wrap: wrap;
        border-radius: 10px;
        transition: 1s;
    }
    .navBar:hover .ham{
        display:none;
    }
}
